name: Build STM32 Project

on:
  push:
    branches: ["master", "workflows"]
  pull_request:
    branches: ["master", "workflows"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install ARM GCC toolchain
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-arm-none-eabi

      - name: Build project
        run: make
